#chat-screen {
  background-color: #aac1d1;
  height: 150vh;
}
#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 5px;
  background-color: #aac1d1;
  z-index: 1;
}
#chat-screen .status-bar {
  background-color: #aac1d1;
  z-index: 2;
}
.main-chat {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@keyframes fadeInTime {
  from {
    opacity: 1;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 10px 20px;
  border-radius: 25px;
  margin-bottom: 25px;
  font-size: 14px;
  animation: fadeInTime 0.4s linear;
}
@keyframes fadeInRow {
  from {
    opacity: 1;
    transform: translate(-200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInRowOwn {
  from {
    opacity: 1;
    transform: translate(200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  animation: fadeInRow 0.5s linear;
}
.message-row--own {
  animation: fadeInRowOwn 0.5s linear;
}
.message-row img {
  width: 45px;
  height: 45px;
  border-radius: 15px;
  margin-right: 10px;
  object-fit: cover;
}
.message__author {
  font-size: 14px;
  opacity: 0.8;
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
}
.message__info {
  display: flex;
  align-items: flex-end;
}
.message__bubble {
  background-color: white;
  padding: 13px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  font-weight: 600;
  margin-right: 5px;
  font-size: 18px;
}
.message__time {
  font-size: 12px;
  opacity: 0.8;
  font-weight: 600;
}
.message-row--own {
  justify-content: flex-end;
}
.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-right: 0px;
  margin-left: 5px;
}
.message-row--own .message__info {
  flex-direction: row-reverse;
}
.reply {
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 5px 0px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
.reply__column:first-child {
  width: 12%;
  display: flex;
  justify-content: center;
}
.reply__column:last-child {
  width: 88%;
  display: flex;
  align-items: center;
  margin-right: 30px;
  position: relative;
}
.reply input {
  display: flex;
  padding: 15px;
  width: 100%;
  border-radius: 25px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  border: var(--main-border);
  transition: all 0.3s ease-in-out;
}
.reply__column > i {
  opacity: 0.7;
}
.reply__column button {
  border: none;
  background-color: var(--yellow);
  width: 43px;
  height: 43px;
  border-radius: 50%;
  position: absolute;
  right: 3px;
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
  background-color: tomato;
}
.reply__column:last-child > i {
  position: absolute;
  right: 60px;
}
.reply__column:last-child,
.reply__column:first-child,
.reply__column:last-child > i,
.reply button {
  transition: all 0.3s ease-in-out;
}
.reply input:focus {
  transform: translateY(-80px) rotateX(360deg);
}
.reply:focus-within button {
  transform: translateY(-80px) rotateY(180deg);
}
.reply:focus-within {
  transform: translateY(80px);
}
