#chat-screen {
  background-color: #aac1d1;
  height: 110vh;
}
#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 10px;
  background-color: #aac1d1;
  z-index: 1;
}
#chat-screen .status-bar {
  background-color: #aac1d1;
  z-index: 2;
}
.main-chat {
  margin-top: 150px;
}
